.numbers-wrap {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.number {
  flex: 1 1 20%;
  max-width: 20%;
  padding: 2px;
}
.number-box {
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-box.green {
  background-color: #016D29;
}
.number-box.black {
  background-color: #000000;
}
.number-box.red {
  background-color: #E0080B;
}
.number-box.unknown {
  background-color: darkgray;
}
form {

}
.input {
  margin-bottom: 10px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.radio input {
  margin-top: 0;
}
.radio label {
  margin-right: 10px  ;
}
.balance {

}
