<div class="container">
  <div class="header">
    <div class="col-50">
      <button (click)="startGame()" type="button">Start</button>
      <button (click)="stopGame()" type="button">Stop</button>
      <button (click)="reset()" type="button">Reset</button>
    </div>
    <div class="col-50">
      <form>
        <div class="input">
          <input type="text" #inputBet>
        </div>
        <div class="bottom">
          <div class="radio">
            <input type="radio" id="red" name="color" value="red" #inputRadioRed [(ngModel)]="red">
            <label for="red">Red</label><br>
            <input type="radio" id="black" name="color" value="black" #inputRadioBlack [(ngModel)]="black">
            <label for="black">Black</label><br>
            <input type="radio" id="zero" name="color" value="zero" #inputRadioZero [(ngModel)]="zero">
            <label for="zero">Zero</label>
          </div>
          <div class="balance">Balance: 100</div>
        </div>
      </form>
    </div>
  </div>
  <div class="content">
    <div class="numbers-wrap">
      <div class="number" *ngFor="let number of numbers">
        <div class="number-box" [appColor]="number.rouletteNumber">{{ number.rouletteNumber }}</div>
      </div>
    </div>
  </div>
</div>
