@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  min-height: 100%;
}
.container {
  padding-top: 30px;
  width: 960px;
  margin: auto;
}
.header {
  display: flex;
}
.row {
  display: flex;
}
.col-50 {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 10px;
}
.col-33 {
  flex: 1 1 33.33333333%;
  max-width: 33.33333333%;
  padding: 10px;
}
.wrap {
  background-color: #f5f4f2;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 3px 10px;
  margin-bottom: 10px;
}
.small-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 3px 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}
.form-group {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}
.form-group label {
  font-weight: bold;
  min-width: 60px;
  font-size: 14px;
  width: 300px;
}
.form-group input[type="text"] {
  height: 24px;
  padding: 2px 6px;
  width: 100%;
  flex: 1;
}
.form-group select {
  height: 24px;
  padding: 2px 6px;
  width: 100%;
}
button {
  background-color: green;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}
button:hover {
  opacity: 0.9;
}
